.container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
    gap: 30px;
    padding: 50px 10px;
    background-color: grey;
    border-radius: 25px;
    width: 400px;
}

.display {
    background-color: rgb(202, 240, 249);
    height: 150px;
    width: 350px;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
    font-family: "Arial";
    border-radius: 25px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 32px;
    text-align: center;
}

.clearBorrow {
    display:flex;
    gap: 15px;
}

.clear > button {
    width: 150px;
    background-color: aquamarine;
}

.back > button {
    width: 150px;
    background-color: rgb(237, 180, 246);
}

/* .container {
    background-color: grey;
} */